.genCard.titleCard {
    color: black;
    background: rgba(175, 175, 175, 0.7);
    margin-top: 50px;
}

.c {
    width: 50%;
    height: 50%;
    cursor: pointer;
    will-change: transform, opacity;
    margin: auto;
  }
 
.front,
.back {
    display: flex;
    background-size: auto;
    /* width: 33%;
    height: 33%; */

  }
  .front{
    position:absolute
  }

  .back{
    
  }
  #wrapper {
    display: flex;
    justify-content: space-between;
  }